.spotify_song-card{
    height: 280px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: white;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    border-radius: 15px;
    overflow-y: hidden;
}

// .spotify_song-card_image {
//     background-color: lightgrey;
// }

.spotify_song-card_image img{
    width: 150px;
    height: 150px;
    padding: 3px;
    border-radius: 50%;
}

.spotify_song{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: space-between; 
    height: 120px;
}

.spotify_song-card:hover{
    cursor: pointer;
}

.spotify_song-card_description p {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow-y: hidden;
}

