.login_container {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgb(0, 0, 0));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: auto;
}

.spotify-login-container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 37rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.spotify-login-container_img img {
    width: 36px;
    height: 36px;
    margin-left: 100px;
}

.spotify-login-container_img h1 {
    font-weight: bold;
}

.spotify-login-container_login {
    margin-top: 20px;
    line-height: 3rem;
    width: 20rem;
}

.spotify-login-container_login label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
}

.spotify-login-container_login input {
    background-color: transparent;
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
}

.spotify-login-container_login input::placeholder{
    padding-left: 10px;
    opacity: 1;
} 

.loginBtn button{
  background-color: #1ed760;
  width: 100%;
  font-weight: bold;
  border-radius: 30px;
}

.loginBtn button:hover{
    background-color: #3be477;
}

.forgot_password{
    text-decoration: underline;
    text-decoration-color: #1ED720;
    font-size: 14px;
}

.forgot_password a{
    color: #1ED720;
}

.signIn span{
    color: #b3b3b3;
}

.signIn a{
    text-decoration: underline;
    color: white;
}

.text-danger{
    color: red;
    font-size: 14px;
}

.error{
    height: 30px;
}

.footer {
    color: rgb(179, 179, 179);
    padding: 32px;
    background-color: #121212;
    text-align: center;
    width: 100%;
    font-size: 12px;
}