.spotify_home-container{
    display: flex;
}

.spotify_home-coontainer-sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: auto;
    width: 215px; 
}

.spotify_home-container_playlist-container {
    height: auto;
    background-color: #191919;
   
}

.spotify_home-coontainer-sidebar-items{
    width: 100%;
    padding: 10px;
}

.spotify_home-coontainer-sidebar-items > a{
  font-size: 15px;
  color: white;
  padding: 10px;
  text-decoration: none;
  vertical-align:super;
}

.spotify_home-coontainer-sidebar-items > i{
    font-size: 23px;
    color: white;
    padding-left: 10px;
}

.spotify_home-coontainer-sidebar-items > a:hover{
    cursor: pointer;
    color: lightgrey;
}

.playlist_collection{
    display: flex;
    overflow: scroll;   
    gap:35px;
}



